.baslik {
    padding: 10%;
}

.images img {
    width: 300px;
    height: 400px;
}

.y-eksen {
    margin-top: 5%;
    margin-bottom: 5%;
}

.radius {
    border-radius: 20px;
}

/* .progress {
    width: 200px;
} */