
    .hover-bilgi
    {
        

        
    }


    .image-container {
        position: relative;
        display: inline-block;
    }

    .overlay {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: rgba(0, 0, 0, 0.5);
        display: flex;
        align-items: center;
        justify-content: center;
        opacity: 0;
        transition: opacity 0.3s ease;
        border-radius: 20px;
    }

    .text {
        color: #fff;
        font-size: 16px;
        text-align: center;
    }

    .image-container:hover .overlay {
        opacity:1;
    }

        
    /* markalar */
    .brand-items {
        display: inline-block;
        padding: 0;
        margin: 0;
        scroll-behavior: smooth;
        /* Yumuşak kaydırma efekti */

    }

    .brand-item {
        display: inline-block;
        vertical-align: middle;
        margin-right: 10px;
        margin: 2%;
        width: 200px;
        transition: transform 0.3s;
        /* Transform geçiş süresi */
    }

    .brand-item:hover {
        transform: scale(1.1);
        /* Büyütme faktörü */
    }

    .brand-item img {
        max-height: 180px;
        width: 100%;
    }


    .brand-list {
        background-color: #FFFCEF;
        width: 100%;
        overflow-x: hidden;
        white-space: nowrap;

    }

		html,body{
			height:100%;
		}
		p{
			margin:10px 0;
			padding:0;
		}
		h1,h2,h3,h4,h5,h6{
			display:block;
			margin:0;
			padding:0;
		}
		img,a img{
			border:0;
			height:auto;
			outline:none;
			text-decoration:none;
		}
		body{
			margin:0 !important;
			padding:0 !important;
			width:100%;
		}
		.mcnTextBlock:after,.mcnTextBlockInner:after{
			display:table;
			clear:both;
		}
		*{
			-webkit-box-sizing:border-box;
			-moz-box-sizing:border-box;
			box-sizing:border-box !important;
		}
		html,body,.wrapper{
			height:auto;
			min-height:100vh;
		}
		body{
			position:relative;
		}
		.wrapper{
			display:flex;
			flex-direction:column;
		}
		.templateSection{
			position:relative;
			display:flex;
			flex-shrink:0;
			justify-content:center;
		}
		.templateSection:last-of-type{
			flex-grow:2;
			min-height:1px;
		}
		.sectionFlexColumn{
			align-items:center;
			display:flex;
			flex-direction:column;
			width:100%;
		}
		a.mcnButton{
			display:block;
		}
		.mcnImage{
			vertical-align:bottom;
		}
		.mcnTextContent{
			word-break:break-word;
			flex-flow:column;
		}
		.mcnTextContent img{
			max-width:100%;
			height:auto !important;
		}
		.mcnDividerBlock{
			table-layout:fixed !important;
		}
		.mcPrivacyBadge{
			opacity:0.6;
		}
		.mcPrivacyBadge:hover{
			opacity:1;
		}
		.mcPrivacyBadge a.privacyLink{
			text-decoration:none;
		}
		.mcPrivacyBadge a.privacyLink:hover{
			text-decoration:underline;
		}
		.mcnTemplatePageBanner{
			position:fixed;
			padding:18px;
			bottom:0;
			top:unset;
			left:0;
			right:0;
			box-sizing:border-box;
			z-index:1;
		}
		.mcnPageBannerContainer{
			position:relative;
			display:flex;
			justify-content:center;
			padding:18px;
			box-shadow:0px 2px 3px rgba(36, 28, 21, 0.1);
			border:1px solid #dedddc;
		}
		.mcnPageBannerContentContainer{
			padding:0 24px 0 0;
		}
		.mcnCloseButton{
			opacity:.4;
			background:url(data:image/png;
			base64,iVBORw0KGgoAAAANSUhEUgAAABgAAAAYCAMAAADXqc3KAAAABGdBTUEAALGPC/xhBQAAAEVQTFRFAAAA////////////////////////////////////////////////////////AAAACwsLlpaWv7+/wMDAwcHB5+fn////js+8jgAAAA90Uk5TABkaT2lvcJi1ttny8/v+KMQKuwAAAJdJREFUKM91UuEawiAIRGdp6pZzi/d/1HDo11bd/RAFTk6QSGFdiDnH4CydYfzMHbM3H/+U+IQ0Df994QuWW8//8kvk4JjEP0itjtf962K86FQ9a6nN1LKqNktOE8uzbMybGOU4eii3imvfZal6DhR7vZastAOR8lAi6UIap4wD8KqAikO58IGwJbiJsO14UHi0+DP8+z5v3a8i3EEOD1IAAAAASUVORK5CYII=); position:absolute;
			top:18px;
			right:18px;
			height:24px;
			width:24px;
		}
		.mcnCloseButton:hover{
			opacity:.9;
		}
		.sr-only{
			position:absolute;
			width:1px;
			height:1px;
			padding:0;
			margin:-1px;
			overflow:hidden;
			clip:rect(0,0,0,0);
			border:0;
		}
		.mcnPaymentTextContent{
			min-width:284px;
		}
		body{
			background-color:transparent;
			background-image:none;
			background-repeat:no-repeat;
			background-position:top;
			background-size:contain;
		}
		.templateSection{
			padding-right:0px;
			padding-left:0px;
		}
		.contentContainer{
			max-width:960px;
			width:100%;
			flex:0 0 auto;
		}
		h1{
			color:#000000;
			font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
			font-size:48px;
			font-style:normal;
			font-weight:normal;
			line-height:125%;
			letter-spacing:normal;
			text-align:center;
		}
		h2{
			color:#000000;
			font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
			font-size:40px;
			font-style:normal;
			font-weight:normal;
			line-height:150%;
			letter-spacing:normal;
			text-align:center;
		}
		h3{
			color:#000000;
			font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
			font-size:26px;
			font-style:normal;
			font-weight:normal;
			line-height:150%;
			letter-spacing:normal;
			text-align:center;
		}
		h4{
			color:#000000;
			font-family:'Noticia Text', Georgia, 'Times New Roman', serif;
			font-size:20px;
			font-style:normal;
			font-weight:normal;
			line-height:175%;
			letter-spacing:normal;
			text-align:center;
		}
		.templateHeader{
			background-color:#ffffff;
			background-image:none;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			border-top:0;
			border-bottom:0;
			padding-top:54px;
			padding-bottom:54px;
		}
		.headerContainer{
			background-color:transparent;
			background-image:none;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			border-top:0;
			border-bottom:0;
			padding-top:0;
			padding-bottom:0;
			box-shadow:none;
		}
		.headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
			color:#696969;
			font-family:Helvetica;
			font-size:20px;
			line-height:150%;
			text-align:center;
		}
		.headerContainer .mcnTextContent a,.headerContainer .mcnTextContent p a{
			color:#696969;
			font-weight:normal;
			text-decoration:underline;
		}
		.templateBody{
			background-color:#fffcef;
			background-image:none;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			border-top:0;
			border-bottom:0;
			padding-top:54px;
			padding-bottom:54px;
		}
		.bodyContainer{
			background-color:transparent;
			background-image:none;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			border-top:0;
			border-bottom:0;
			padding-top:0;
			padding-bottom:0;
			box-shadow:none;
		}
		.bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p,.mcnTemplatePageBanner{
			color:#696969;
			font-family:Helvetica;
			font-size:20px;
			line-height:150%;
			text-align:center;
		}
		.bodyContainer .mcnTextContent a,.bodyContainer .mcnTextContent p a,.mcnTemplatePageBanner a,.mcnTemplatePageBanner p a{
			color:#696969;
			font-weight:normal;
			text-decoration:underline;
		}
		.templateFooter{
			background-color:#f68235;
			background-image:none;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			border-top:0;
			border-bottom:0;
			padding-top:0;
			padding-bottom:0;
		}
		.footerContainer{
			background-color:transparent;
			background-image:none;
			background-repeat:no-repeat;
			background-position:center;
			background-size:cover;
			border-top:0;
			border-bottom:0;
			padding-top:0;
			padding-bottom:0;
		}
		.footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
			color:#FFFFFF;
			font-family:Helvetica;
			font-size:16px;
			line-height:150%;
			text-align:center;
		}
		.footerContainer .mcnTextContent a,.footerContainer .mcnTextContent p a{
			color:#FFFFFF;
			font-weight:normal;
			text-decoration:underline;
		}
	@media only screen and (max-width: 480px){
		body,table,td,p,a,li,blockquote{
			-webkit-text-size-adjust:none !important;
		}

}	@media only screen and (max-width: 480px){
		body{
			width:100% !important;
			min-width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		.mcPrivacyBadge{
			padding:12px 12px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcPrivacyBadgeContent{
			flex-direction:column;
		}

}	@media only screen and (max-width: 480px){
		.monkeyrewards{
			order:1;
			margin-bottom:18px;
		}

}	@media only screen and (max-width: 480px){
		.reportAbuseWrapper{
			order:2;
		}

}	@media only screen and (max-width: 480px){
		.mcnCaptionBlockInner{
			flex:0 0 auto;
		}

}	@media only screen and (max-width: 480px){
		.mcnCaptionBlock{
			flex-direction:column;
		}

}	@media only screen and (max-width: 480px){
		.mcnVideoContainer{
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnRetinaImage{
			max-width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnTextBlockInner{
			padding:9px 0 !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnImageGroupContent{
			padding:9px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnCaptionColumn{
			flex-direction:column !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnSignUpFormContentContainer{
			flex:auto !important;
			padding-right:0 !important;
			padding-left:0 !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnCaptionLeftContentInner,.mcnCaptionRightContentInner{
			padding:0 9px 9px 9px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnImageCardRightContentInner .mcnImageCardImageContent,.mcnImageCardLeftContentInner .mcnImageCardImageContent{
			padding:18px 18px 0 18px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnTextBlockInner,.mcnBoxedTextBlockInner,.mcnImageCardLeftContentInner,.mcnImageCardRightContentInner,.mcnCaptionLeftContentInner,.mcnCaptionRightContentInner{
			flex-direction:column !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnCaptionLeftContentInner .mcnTextContent,.mcnCaptionRightContentInner .mcnTextContent{
			padding:9px 9px 0 9px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnImageCardTopImageContent,.mcnCaptionBlockInner .mcnCaptionTopContent:last-child .mcnTextContent{
			padding-top:18px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnImageCardBottomImageContent{
			padding-bottom:9px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnImageGroupBlockInner{
			padding-top:0 !important;
			padding-bottom:0 !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnImageGroupBlockOuter{
			padding-top:9px !important;
			padding-bottom:9px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnTextContent,.mcnBoxedTextContentColumn{
			padding-right:18px !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnImageCardLeftImageContent,.mcnImageCardRightImageContent{
			padding-right:18px !important;
			padding-bottom:0 !important;
			padding-left:18px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcpreview-image-uploader{
			display:none !important;
			width:100% !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnRecContentContainer--row{
			flex:0 0 50% !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnRecContentContainer .mcnProductTitle,.mcnRecContentContainer .mcnButtonBlock,.mcnRecContentContainer .mcnProductPrice{
			padding-left:0 !important;
			padding-right:0 !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnPaymentProduct{
			flex-direction:column !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnPaymentTextContent{
			min-width:200px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnPaymentGalleryImages div{
			width:100% !important;
			min-width:0 !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnGalleryImage:nth-last-child(2):first-child,.mcnGalleryImage:nth-last-child(2):first-child ~ .mcnGalleryImage{
			height:90px !important;
			min-width:55px !important;
			max-width:90px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnGalleryImage:nth-last-child(3):first-child,.mcnGalleryImage:nth-last-child(3):first-child ~ .mcnGalleryImage{
			height:60px !important;
			min-width:55px !important;
			max-width:60px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnGalleryImage:nth-last-child(4):first-child,.mcnGalleryImage:nth-last-child(4):first-child ~ .mcnGalleryImage{
			height:60px !important;
			min-width:35px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnGalleryImage:nth-last-child(5):first-child,.mcnGalleryImage:nth-last-child(5):first-child ~ .mcnGalleryImage{
			height:50px !important;
			min-width:35px !important;
		}

}	@media only screen and (max-width: 480px){
		.mcPrivacyBadge{
			opacity:1;
		}

}	@media only screen and (max-width: 480px){
		h1{
			font-size:30px !important;
			line-height:125% !important;
		}

}	@media only screen and (max-width: 480px){
		h2{
			font-size:26px !important;
			line-height:125% !important;
		}

}	@media only screen and (max-width: 480px){
		h3{
			font-size:20px !important;
			line-height:150% !important;
		}

}	@media only screen and (max-width: 480px){
		h4{
			font-size:18px !important;
			line-height:150% !important;
		}

}	@media only screen and (max-width: 480px){
		.mcnBoxedTextContentContainer .mcnTextContent,.mcnBoxedTextContentContainer .mcnTextContent p{
			font-size:14px !important;
			line-height:150% !important;
		}

}	@media only screen and (max-width: 480px){
		.headerContainer .mcnTextContent,.headerContainer .mcnTextContent p{
			font-size:16px !important;
			line-height:150% !important;
		}

}	@media only screen and (max-width: 480px){
		.bodyContainer .mcnTextContent,.bodyContainer .mcnTextContent p,.mcnTemplatePageBanner{
			font-size:16px !important;
			line-height:150% !important;
		}

}	@media only screen and (max-width: 480px){
		.footerContainer .mcnTextContent,.footerContainer .mcnTextContent p{
			font-size:16px !important;
			line-height:150% !important;
		}

}