.gradient-custom-2 {

    background: #f7f8f8; /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #f7f8f8, #acbb78); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #f7f8f8, #acbb78); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    
    @media (min-width: 768px) {
    .gradient-form {
    height: 100vh !important;
    }
    }
    @media (min-width: 769px) {
    .gradient-custom-2 {
    border-top-right-radius: .3rem;
    border-bottom-right-radius: .3rem;
    }
    }
}

.girisbuton:hover
{
    opacity: 0.7;
    transition: 0.5s;
}