#map {
    position: relative;
    margin-bottom: 150px;
    margin-left: 200px;
}

#map_png {
    position: absolute;
    top: 0;
    left: 0;
    width: 1000px;
    height: 500px;
    object-fit: cover;
}

#bolgeler {
    position: relative;
    display: flex;
    margin-top: 150px;
    margin-left: 200px;
}

.bolgeler_png {
    position: relative;
    position: absolute;
    top: 0;
    left: 0;
    border-radius: 50px;
    width: 200px;
    height: 350px;
    object-fit: cover;
}

#bolgeler_Karadeniz_png {
    margin-top: 600px;
    margin-left: 150px;
}

#bolgeler_Akdeniz_png {
    margin-top: 650px;
    margin-left: 350px;
}

#bolgeler_Ege_png {
    margin-top: 600px;
    margin-left: 550px;
}

#bolgeler_Marmara_png {
    margin-top: 1000px;
    margin-left: 150px;
}

#bolgeler_İcAnadolu_png {
    margin-top: 1050px;
    margin-left: 350px;
}

#bolgeler_DoguAnadolu_png {
    margin-top: 1000px;
    margin-left: 550px;
}

#bolgeler_GuneyDoguAnadolu_png {
    position: absolute;
    top: 0;
    left: 0;
    object-fit: cover;
    margin-top: 1450px;
    margin-left: 150px;
    width: 600px;
    height: 250px;
    border-radius: 50px;
}

#karadeniz_header {
    margin-top: 560px;
    margin-left: 190px;
}

#Akdeniz_header {
    margin-top: 600px;
    margin-left: 100px;
}

#Ege_header {
    margin-top: 560px;
    margin-left: 150px;
}

#Marmara_header {
    margin-top: 965px;
    margin-left: -475px;
}

#İcAnadolu_header {
    margin-top: 1020px;
    margin-left: 100px;
}

#DoguAnadolu_header {
    margin-top: 960px;
    margin-left: 60px;
}

#GuneyDoguAnadolu_header {
    margin-top: 1410px;
    margin-left: -400px;
}